[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/httplib"]
	path = thirdparty/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "thirdparty/openssl-cmake"]
	path = thirdparty/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake.git
[submodule "thirdparty/utf8cpp"]
	path = thirdparty/utf8cpp
	url = https://github.com/nemtrif/utfcpp.git
